{% extends "base.html" %}
{% load static %}
          {% block nav %}


        <li class="nav-item">
          <a class="nav-link" href="{% url "add" %}">создание статьи</a>
        </li>
                   {% endblock %}
{% block content %}
<h1>Задачи</h1>

{% for task in tasks %}
    <h3 style="color:#FF0000", >{{ task.task }}  </h3>

    <p style="color:#FF0000"><i> {{ task.status }} --- {{ task.get_status_display }} </i>
</p>
    <p><a href="{% url "index_view" task.pk %}">подробнее</a></p>
{% endfor %}
{% endblock %}
